# Explicitly declare text files we want to always be normalized and converted
# to native line endings on checkout.
*.c text
*.csv text
*.h text
*.htm* text
*.md text
*.mo text
*.mos text
*.order text
*.py text
*.txt text
.gitattributes text
.gitignore text
LICENSE text

# list of files that git archive should ignore
.CI export-ignore
.gitattributes export-ignore
.github export-ignore
.gitignore export-ignore
CITATION.cff export-ignore
README.md export-ignore
ThermofluidStream/Resources/Reference export-ignore
